!!!
html(ng-app="app")

  head
    meta(charset='utf8')
    title Title

  body

    div(ng-view)

    p Showing of 'interpolate' filter: {{ 'Current version is v%VERSION%.' | interpolate }}

    div Angular seed app: v
      span(app-version)

    script(src='/vendor/angular.js')
    script(src='/js/app.js')
